@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Kanit:ital@1&display=swap');

body {
    margin: 0;
    background-color: #f9f9f9;
    font-family: 'Dosis', sans-serif;

}

.formcontainer {
    width: 100%;
    /* background-color: #a3a3a3; */
    display: flex;
    justify-content: center;
}

.tablecontainer {
    width: 100%;
    /* background-color: #f9f9f9; */
    display: flex;
    justify-content: center;
}

.heading {
    display: flex;
    height: 30vh;
    width: 100%;
    align-items: center;
    justify-content: center ;
    background-color: #262626;
    color: #fafafa;
}

.addbook{
    justify-content: center;
    margin: 1rem;
}

.addbook ul{
    list-style: none;
    display: flex;
    column-gap: 3rem;
}

ul > li{
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}

li > label {
    font-size: 1.5rem;
    color: #262626;
}

input[type="text"], input[type="number"]{
    appearance: none;
    border-radius: 5px;
    border: #262626 solid 2px;
    line-height: 1.5rem;
}

input[type="checkbox"]{
    appearance: none;
    position: relative;
    width: 1.5rem;
    height: 1.5rem;
    border: 2px solid #262626;
    border-radius: 5px;
}

input[type="checkbox"]::before {
    content: "✔";
    position: absolute;
    font-size: 1.4em;
    left: 1px;
    visibility: hidden;
  }
  
  input[type="checkbox"]:checked::before {
    /* Use `visibility` instead of `display` to avoid recalculating layout */
    visibility: visible;
  }


table.library {
    letter-spacing: 2px;
    font-size: 1.5rem;
    width: 80%;
    border-collapse: collapse;
}

th {
    border-bottom: 2px solid #262626;
    padding: 10px 0px;
    text-align: start;
  }
  

  
td {
    text-align: start;
    font-family: 'Kanit', sans-serif;
}
  
button {
    background-color: #262626;
    color: white;
    font-size: 1rem;
    padding: 10px 15px;
    text-align: center;
    border-radius: 10px;
    border-style: none;
    font-family: 'Dosis', sans-serif;
}



